/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 15px;
  padding: 10;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */
 .header-container {
  background-image: url("../images/apple-pie.jpg");
  background-size: cover;
  color: white;
  width: 100%;
  padding: 250px;
  text-align: center;
  font-size: 50px;
} 

h2 {
  text-align: center;
  margin: 20px;
  font-size: 20px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

div {
  background-color: black;
  height: 1px;
  width: 10;
}

h3 {
  margin: 20px;
  font-size: 18px;
}
.ingredients {
  padding: 20px;
  border-radius: 5px;
}

.line {
  list-style: none;
}

.line li::before {
  content: "- ";
}

ol {
  list-style-type: none;
}

ol > li {
  counter-increment: listcounter;
}

ol li::before {
  content: counter(listcounter) ")";
}